<footer class="bg-light footer-expand-large text-dark pt-4 pb-2 footer-style">
  <div class="container text-center text-md-left">
    <div class="row offset-2">
      <!-- About Section -->


      <!-- Quick Links -->
      <div class="col-md-3">
        <h5 class="text-uppercase text-secondary">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class=" text-decoration-none">Home</a></li>
          <li><a href="#" class=" text-decoration-none">About</a></li>
          <li><a href="#" class=" text-decoration-none">Services</a></li>
          <li><a href="#" class=" text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-decoration-none">FAQs</a></li>
          <li><a href="#" class="text-decoration-none">Privacy Policy</a></li>
          <li><a href="#" class="text-decoration-none">Terms & Conditions</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Community</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none">Our Team</a></li>
          <li><a href="#" class="text-decoration-none">Contributors</a></li>
          <li><a href="#" class="text-decoration-none">Join Newsletter</a></li>
          <li><a href="#" class="text-decoration-none">Feedback</a></li>
        </ul>

      </div>
    </div>

  </div>





  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-md-4 d-flex align-self-center justify-content-center flex-wrap ">
      <div class="d-flex gap-3">
        <a href="#" class=" fs-5 text-decoration-none d-flex align-items-center ">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="fs-5 text-decoration-none d-flex align-items-center ">
          <i class="bi bi-twitter "></i>
        </a>
        <a href="#" class="fs-5 text-decoration-none d-flex align-items-center ">
          <i class="bi bi-instagram "></i>
        </a>
        <a href="#" class="fs-5 text-decoration-none d-flex align-items-center ">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="text-center py-3 mt-3 border-top">
    © 2025 MyWebsite | All Rights Reserved
  </div>
</footer>