<!DOCTYPE html>
<html lang="en">
<%- include('../layout/headModule.ejs') %>

    <body>
        <div class="log-in-container d-flex justify-content-center">
            <form action="/user/register" method="POST"  novalidate class="border border-info rounded-4 needs-validation"   style="width: 300px;">
                
                <div class="text-light rounded-shadow">
                    <div class="row p-4">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <h3 class="text-light m-0">Sign Up</h3>
                        <div class="mb-3 col-12">
                            <label for="exampleInputEmail1" class="form-label">Enter your Email address</label>
                            <input type="email" name="user[email]" class="form-control bg-transparent text-light forminputborderColor place-text-white"
                                placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp"  required>
                                <div class="invalid-feedback">enter valid email</div>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="exampleInputusername" class="form-label">Enter your Username</label>
                            <input type="text"  name="user[username]" class="form-control bg-transparent text-light forminputborderColor place-text-white"
                                placeholder="@username" id="exampleInputusername" aria-describedby="emailHelp" required>
                                 <div class="invalid-feedback">enter @username</div>

                        </div>
                        <div class="mb-3 col-12">
                            <label for="exampleInputPassword1" class="form-label">Enter your Password</label>
                            <input type="password" name="user[password]" class="form-control bg-transparent text-light forminputborderColor place-text-white"
                                placeholder="Password" id="exampleInputPassword1"  required >
                                 <div class="invalid-feedback">enter strong password</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info ms-4 mb-4 text-light">Register</button>
            </form>
        </div>

        <script src="/javascripts/script.js"></script>
    </body>

</html>